<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Provide the title for this view-->
    <title th:fragment="title">WebSiteName</title>
</head>
<body>

<!--Provide the content for this view-->
<div class="container" th:fragment="content">
    <div>
        <div class="card transparentCard">
            <h3 class="card-title">Index</h3>

            <div><p>Description of this utility...perhaps a readme rendering...</p></div>
        </div>
    </div>
</div>
</body>
</html>