<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Provide the title for this view-->
    <title th:fragment="title">Basic Activity</title>
</head>
<body>

<!--Provide the content for this view-->
<div class="container" th:fragment="content">
    <script src="/resources/script.js"></script>
    <div>
        <div>
            <h3>Basic Activity</h3>

            <div><p>Basic Activity</p></div>

            <button class="btn btn-info" onclick="doSomethingLong()">Go</button>
        </div>
    </div>
</div>
</body>
</html>