<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Provide the title for this view-->
    <title th:fragment="title">Basic Activity</title>

    <style th:fragment="styles">
        .loader {
            width: 50px;
            height: auto;
        }

        .showInProgress, .showOnDone, .showOnError {
            display: none;
        }

        .showOnErrorAlert {

        }
    </style>
</head>
<body>

<!--Provide the content for this view-->
<div class="container" th:fragment="content">
    <script src="/resources/script.js"></script>
    <div>
        <div>
            <h3>Basic Activity</h3>

            <div><p>Basic Activity</p></div>

            <div class="container">
                <button class="hideInProgress btn btn-info" onclick="doSomethingLong()">Go</button>
                <img class="showInProgress loader" src="/resources/loading.gif" alt="loading"/>
                <div class="showOnError showOnErrorAlert alert alert-danger">Error.</div>
                <div class="showOnDone alert alert-success">Done.</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>